.banner{
    background-image: url(../../../../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

@media screen and (max-width:575px) {
    .banner{
        background-size: cover;
        height: 650px;
    }
}